APP_DEBUG=true
NEXT_PUBLIC_APP_NAME="WissWan"


NEXT_PUBLIC_SITE_URL=http://localhost:3000/
# backend
NEXT_PUBLIC_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_BASE_URL_API=http://127.0.0.1:8000/api/
NEXT_PUBLIC_API_STORAGE=http://127.0.0.1:8000/storage/


NEXT_PUBLIC_FETCH_CACHE_LONG=28800
NEXT_PUBLIC_FETCH_CACHE_SHORT=120

# для кеша изображений
NEXT_PUBLIC_DOMAIN=127.0.0.1
NEXT_PUBLIC_DOMAIN_PROTOCOL=http

# доступы от Laravel: Passport. Этих клиентов можно создать много, но достаточно одного. Это OAuth2.
BACKEND_AUTH_CLIENT_ID="dadada"
BACKEND_AUTH_CLIENT_SECRET="dadada2"