APP_DEBUG=false
NEXT_PUBLIC_APP_NAME="WissWan"


NEXT_PUBLIC_SITE_URL=https://wisswan.tech/

# backend docker container
# Короче если запросы летят внутри контейнера (SSR) на другой контейнер, то нужно писать название другого контейнера, так как на localhost - будет лететь на самого себя (то есть фронтенд)
# А вот если запросы летят к примеру из useEffect, то тут уже нужно будет указывать wisswan.tech
NEXT_PUBLIC_BASE_URL=http://nginx
NEXT_PUBLIC_BASE_URL_API=http://nginx/api/
NEXT_PUBLIC_API_STORAGE=http://nginx/storage/


NEXT_PUBLIC_FETCH_CACHE_LONG=28800
NEXT_PUBLIC_FETCH_CACHE_SHORT=120

# для кеша изображений
NEXT_PUBLIC_DOMAIN=wisswan.tech
NEXT_PUBLIC_DOMAIN_PROTOCOL=https

